/* Estilos generales */
body {
	background-color: #121212;
	color: #f1f1f1;
	font-family: "Roboto", sans-serif;
}

/* Header */
.navbar-dark .navbar-brand {
	color: #00d8ff;
}

.navbar-dark .nav-link {
	color: #ffffff;
}

.navbar-dark .nav-link:hover {
	color: #29e2f9;
}

.banner {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.carousel-caption h2 {
	font-size: 2.5rem;
	font-weight: bold;
}

.carousel-caption p {
	font-size: 1.25rem;
}

/* Tarjetas de producto */
.card {
	background-color: #1f1f1f;
	color: #f1f1f1;
	border: none;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: translateY(-8px);
	box-shadow: 0 8px 20px rgba(0, 216, 255, 0.2);
}

.card-img-top {
	object-fit: cover;
	border-bottom: 2px solid #00d8ff;
	height: auto;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-title {
	font-size: 1.25rem;
	color: #00d8ff;
}

.card-text {
	font-size: 0.9rem;
	color: #aaaaaa;
}

.card-price {
	font-size: 1.3rem;
	color: #00ff08;
}

.btn-primary {
	background-color: #00d8ff;
	border-color: #00d8ff;
	color: #121212;
	font-weight: bold;
}

.btn-primary:hover {
	background-color: #007f9a;
	border-color: #007f9a;
}

/* Modos de financiación */
#financiacion {
	background-color: #1a1a1a; /* Fondo oscuro como en tu página */
	padding: 2rem;
	border-radius: 8px;
}

.modo-card {
	background-color: #1f1f1f;
	color: #f1f1f1;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border: 1px solid #2ceeff;
}

.modo-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(0, 216, 255, 0.2);
}

.modo-card img {
	border: 2px solid #29e2f9;
}

/* Footer */
footer {
	padding: 1.5rem 0;
	margin-top: 2rem;
	border-top: 4px solid #00d8ff;
}

footer img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	margin-bottom: 1rem;
	border: 3px solid #00d8ff;
}

footer p {
	margin: 0.5rem 0;
	font-size: 1rem;
	color: #f1f1f1;
}

/* Responsive */

@media (max-width: 767px) {
	header h1 {
		font-size: 1.8rem;
	}

	header p {
		font-size: 1rem;
	}
}
